*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}

#deliver{
    font-size: 12px;
    color: #CCCCCC;
    margin-left: 15px;

}
.locologo{
    margin-top: 8px;
    height: 15px;
    width: 18px;
    
}
.border:hover{
    border: 1px solid white;
}
#india{
    font-size: 14px;
    color: #FFFFFF;

}
.nav-search{
    height: 60px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.select-list{
    width: 45px;
    height: 40px;
    /* padding-left: 5px; */
    color: #0F1111;
    background-color: #E6E6E6;
    border: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-box{
    width: 100%;
    height: 21px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
    
}
.search-icon{
    
    width: 45px;
    height: 42px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
    
}

#search-logo{
    height: 40px;
    width: 45px;
}
.hellosignin{
    font-size: 12px;
    color: #FFFFFF;
    

}
.acc-acc-list{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}
.cart-logo{
    font-size: 30px;
}
.cart{
    display: flex;
    align-items: baseline;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 11px;
}
.nav-search:hover{
    border: 1px solid orange;
}

.nav-anchor{
    padding-left: 11px;
    height: 39px;
    background-color: #0F1111;
    opacity: 90%;
    display: flex;
}
.list-all{
    width: 58.41px;
    height: 39px;

}
.links{
    display: flex;
    height: 39px;
    width: 1244px;
}
.design{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    color: #FFFFFF;
    
}
.background{
    background-color: #E3E6E6;
    width: 100%;
    height: 385px;
    display: flex;
    justify-content: center;
}
.back-img{
    height: 350px;
    width: 1500px;
    background-image: url("back my.jpg");
    z-index: 0.5;
    display: flex;
    align-items: flex-end;
    
    
    
}
.con-box1{
    height: 385px;
    width: 360px;
    background-color: #FFFFFF;
    /* z-index: 1; */ 
}
/* .seperater{
    margin-left: 20px;
} */
.back-design{
    padding-top: 20px;
    padding-bottom: 15px;
}
.background .back-box1{
    justify-content: left;
}
.content{
    background-color: #E3E6E6;
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
}
.inner-con{
    background-color: rgba(23, 206, 206, 0);
    width: 1500px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
    
}
.con-box-heading{
    height: 27px;
    width: 320px;
    
}
.con-box-seemore{
    height: 16px;
    width: 320px;
    

}
.k{
    width: 155px;
    height: 125px;
    margin-left: 15px;
    background-color: aqua;
}
#okk{
    margin-left: 15px;
    font-size: 12px;
    color: #0F1111;
}
.con-box-con{
    
    
    
}
.firstrow{
    display: flex;
}
.secondrow{
    display: flex;
}
.con-box1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.con-box-heading{
    margin-left: 15px;
    font-size: 21px;
    color: #0F1111;
    font-weight: 700;
}
.con-box-seemore{
    margin-left: 15px;
    color: #007185;
    font-size: 13px;
}
.one{
    background-image: url("Fuji_Quad_Headset_2x._SY232_CB667159060_.jpg");
    background-size: cover;
}
.two{
    background-image: url("Fuji_Quad_Keyboard_2x._SY232_CB667159063_.jpg");
    background-size: cover;
}
.three{
    background-image: url("Fuji_Quad_Mouse_2x._SY232_CB667159063_.jpg");
    background-size: cover;
}
.four{
    background-image: url("Fuji_Quad_Chair_2x._SY232_CB667159060_.jpg");
    background-size: cover;
}
.five{
    background-image: url("dinig.jpg");
    background-size: cover;
    
}
.six{
    background-image: url("home.jpg");
    background-size: cover;
    
}
.seven{
    background-image: url("kitchen.jpg");
    background-size: cover;
    
}
.eight{
    background-image: url("health.jpg");
    background-size: cover;
    
}
.nine{
    background-image: url("jeans.jpg");
    background-size: cover;
}
.ten{
    background-image: url("tops.jpg");
    background-size: cover;
}
.eleven{
    background-image: url("dresses.jpg");
    background-size: cover;
}
.twelve{
    background-image: url("shoes.jpg");
    background-size: cover;
}
.thirteen{
    background-image: url("pc.jpg");
    background-size: cover;
    height: 280px;
    width: 320px;
    margin-left: 20px;
    
}

.secondrowcontent{
    padding-top: 20px;
}